{
    default_city_guid => 'a4859da8-9977-4b62-8436-4e1b98c5d13f',
    default_phone_prefix => '4212',
    pay => {
        day_pay => {sum => 5.00, days => '1'},
        day3_pay => {sum => 150.00, days => '3'},
        week_pay => {sum => 350.00, days => '7'},
        week2_pay => {sum => 700.00, days => '14'},
        month_pay => {sum => 1500.00, days => '30'},
    },

    prefix_payment_number => 'test',

    storage => {
        path => '/mnt/data/storage/makler',
        url => 'http://storage.dvnic.com/makler',
    },

    title => 'Маклер',
    brand => '<img src="http://storage.dvnic.com/makler/img/logo.png" style="height: 20px; padding-right: 20px;">',
    copyright => 'ООО "Маклер", 680000, Хабаровск, ул. Дзержинского 65, оф. 1410, <a href="mailto:info@maklerdv.ru">info@maklerdv.ru</a><br>Продажа (4212) 470-470<br>Аренда (962) 503-77-55, (4212) 63-77-55',

    meta_headers => [],
    analytics_code => q{<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22624288 = new Ya.Metrika({id:22624288, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22624288" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->},

    hypnotoad => {
        listen => ['http://:19201'],
        proxy => 1,
        pid_file => 'hypnotoad.pid',
    }
}
